button {
  @apply text-center;
}

//其他：自訂
.btn-cusSecondary {
  @apply rounded-5 text-white bg-secondary-500;
  &:hover {
    @apply bg-secondary-600;
  }
}

//登入,註冊, 忘記密碼
.btn-cusBigSecondary {
  @apply rounded-5 text-white bg-secondary-500 font-bold py-10 px-12 lg:p-12 lg:text-20;
  &:hover {
    @apply bg-secondary-600;
  }
}

// 課程
.btn-cusWriteSecondary {
  @apply rounded-5 text-white bg-secondary-500 py-4 px-10;
}

// 課程
.btn-cusWriteWhite {
  @apply rounded-5 text-white bg-[#B0B0B080] bg-opacity-50 py-4 px-10;
}

// 課程
.btn-cusDisableWriteBlack {
  @apply rounded-5 text-black-500 bg-[#B0B0B080] bg-opacity-50 py-4 px-10;
}

//成為NuCares營養師
.btn-cusBigPrimary {
  @apply rounded-5 text-white bg-primary-600 font-bold py-10 px-12 lg:p-12 lg:text-20;
  &:hover {
    @apply bg-primary-700;
  }
}

// 課程
.btn-cusWritePrimary {
  @apply rounded-5 border border-primary-400 text-primary-400 py-4 px-10;
}

// 課程
.btn-cusWriteBgPrimary {
  @apply rounded-5 bg-[#3690A4] bg-opacity-40 text-white py-4 px-10;
}

//編輯筆
.btn-cusEditPrimary {
  @apply rounded-5 border border-primary-500 py-8;
}

//其他：自訂
.btn-cusPrimary {
  @apply rounded-5 text-primary-500 bg-white p-5;
  &:hover {
    @apply border-primary-600;
  }
}

//學員資訊, 營養師資訊
.btn-cusPrimaryInfo {
  @apply rounded-10 bg-primary-500 text-white p-10;
}

//營養師專頁：關於我_公開
.cusPublic::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  top: 2px;
  right: 2px;
  @apply bg-primary-500;
}

//營養師專頁：關於我_不公開
.cusNoPublic::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  top: 2px;
  left: 2px;
  @apply bg-black-300;
}

//側邊選單
.cusSelectTab {
  @apply align-middle inline-block py-20 px-28 rounded-s-50 w-full text-primary-500 bg-white bg-opacity-50;
}

//側邊選單
.cusNoSelectTab {
  @apply align-middle inline-block py-20 px-28 rounded-s-50 w-full;
}

//下拉式選單：營養師
.cusNIdentity {
  @apply text-white text-14 font-bold bg-tertiary-400;
}

//下拉式選單：學員
.cusSIdentity {
  @apply text-white text-14 font-bold  bg-primary-400;
}
