.cusInputNoIcon {
  @apply rounded-10 py-20 px-16 w-full;
  &::placeholder {
    @apply text-20 text-black-200;
  }
}

.cusInputWithIcon {
  @apply rounded-5 py-10 pl-[36px] pr-12 text-14 relative w-full lg:py-16 lg:text-16;
  &::placeholder {
    @apply text-black-200;
  }
  &:focus {
    @apply outline-none ring-2 ring-primary-400;
  }
}

.cusShowLeftIcon {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.cusShowRightIcon {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
