@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Helvetica Neue", "Noto Sans TC";
    line-height: 1.5;
    @apply font-thin text-black-950 text-16;
  }

  th,
  td {
    @apply py-16 px-20;
  }
}

@layer components {
  .btn-cusSecondary {
    @apply rounded-5 text-white bg-secondary-400 font-bold;
  }

  .cusForm {
    @apply rounded-10 p-[50px] flex flex-col items-center gap-y-[30px] cusBackgroundBackdrop;
  }

  .cusInputNoIcon {
    @apply rounded-10 py-20 px-16 w-full;
    &::placeholder {
      @apply text-20 text-black-200;
    }
  }

  .cusInputWithIcon {
    @apply rounded-10 py-20 px-16 w-full indent-[42px];
    &::placeholder {
      @apply text-20 text-black-200;
    }
  }

  .cusBackgroundBackdrop {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
  }
}
