@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "cusInput";
@import "cusButton";
@import "datePicker";
@import "fullCalendar";

@layer base {
  :root {
    font-family: "Helvetica Neue", "Noto Sans TC";
    line-height: 1.5;
    @apply font-thin text-black-950 text-16 bg-white lg:bg-primaryGradient;
  }

  th,
  td {
    @apply py-16 px-20;
  }
}

@layer components {
  .cusGridMobile {
    @apply grid-cols-4 gap-x-16 px-24;
  }

  .cusGridPC {
    @apply lg:grid-cols-12 lg:gap-x-24;
  }

  .cusGrid {
    @apply cusGridMobile cusGridPC;
  }

  .cusForm {
    @apply rounded-20 p-32 flex flex-col items-center gap-y-32 lg:py-[48px]  cusBackgroundBackdrop;
  }

  .cusBackgroundBackdrop {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid rgb(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .cusActiveTags {
    @apply border rounded-50 py-4 px-10;
  }

  .cusModal {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-primary-200  p-50 rounded-10 w-[820px] z-10;
  }

  .cusModalBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
  }

  .cusFileUpload {
    @apply py-10 px-5 rounded-5 bg-white inline-block;
  }

  select {
    appearance: none;
  }

  .cusPrimaryTitle {
    @apply text-primary-500 text-20 text-center font-bold lg:text-22;
  }

  .cusCourseStatus::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin-right: 6px;
  }

  tr {
    position: relative;
  }

  tr:nth-child(n + 2) td::before {
    content: "";
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 98%;
    @apply bg-black-200;
  }

  .cusDropdown {
    border: 1px solid rgb(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    @apply p-20 rounded-10 absolute top-full right-0 z-10 min-w-[196px];

  .formHead {
    @apply font-bold;
  }

  .formContent {
    @apply text-14 font-normal text-black-400;
  }

  .formSelect {
    @apply py-8 px-12 rounded-5 border border-black-500;
  }

  .cusMContainer {
    @apply container pt-20 pb-80 px-24;
  }
    
}
