@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Helvetica Neue", "Noto Sans TC";
    line-height: 1.5;
    @apply font-thin text-black-950 text-16;
  }

  th,
  td {
    @apply py-16 px-20;
  }
}

@layer components {
  .cusGridMobile {
    @apply grid-cols-4 gap-x-16 px-10;
  }

  .cusGridPC {
    @apply lg:grid-cols-12 lg:gap-x-12;
  }

  .cusGrid {
    @apply cusGridMobile cusGridPC;
  }

  .btn-cusSecondary {
    @apply rounded-5 text-white bg-secondary-400 font-bold;
  }

  .cusForm {
    @apply rounded-10 px-[28px] py-50 lg:px-[50px] flex flex-col items-center gap-y-12 lg:gap-y-20 cusBackgroundBackdrop;
  }

  .cusInputNoIcon {
    @apply rounded-10 py-20 px-16 w-full;
    &::placeholder {
      @apply text-20 text-black-200;
    }
  }

  .cusInputWithIcon {
    @apply rounded-10 py-20 px-16 w-full indent-[42px];
    &::placeholder {
      @apply text-20 text-black-200;
    }
  }

  .cusBackgroundBackdrop {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .cusTextarea {
    @apply p-6 w-full min-h-[120px];
  }

  .cusInput {
    @apply p-6;
  }

  .cusActiveTags {
    @apply border rounded-50 py-4 px-10;
  }

  .cusSwitch::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    top: 2px;
    right: 2px;
    background-color: black;
  }

  .cusModal {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-primary-200  p-50 rounded-10 w-[820px] z-10;
  }

  .cusModalBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
  }
}
